<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projeto_Integrador"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".telas.PerfilPaciente"
            android:exported="false" />
        <activity
            android:name=".telas.ListPacientes"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEscalaBraden3"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEscalaBraden2"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEscalaBraden1"
            android:exported="false" />
        <activity
            android:name=".telas.EscalaBraden"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEstagio4"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEstagio3"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEstagio2"
            android:exported="false" />
        <activity
            android:name=".telas.ResultadoEstagio1"
            android:exported="false" />
        <activity
            android:name=".telas.AvaliacaoLesaoActivity"
            android:exported="false" />
        <activity
            android:name=".telas.AvaliacaoActivity"
            android:exported="false" />
        <activity
            android:name=".telas.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".telas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>